h1,h2,h3,h4,h5, button, .amiibo-name{
    font-family: 'Bitter', serif;

}
.navbar-brand{
    height:200px;
    width: 200px;
}
#games{
    background: rgb(209, 215, 228);
    background: url(../img/divertirse.jpg),  linear-gradient(0deg, rgb(220, 244, 227) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -10px;
}
/* Media Queries
  Su uso para un breakpoint personalizado*/
@media (max-width: 768px) {
  h1{
        background-color: #d7e5cc;
    }
}
/*

las pantallas extra pequeñas (xs) el color de fondo h1  sea verde claro 
*/




.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
#footer{
   
    background-color: rgb(207, 234, 249);
    background-size: 50px 50px;
}
.px-wide {
    width: 500px;
    height: 430px;
    margin: auto;
}
.carousel slide{
    height: 500px;
  margin-bottom: 60px;
}
.carousel .item {
    height: 500px;
    background-color: #777;
  }
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }














